{% extends "../base.html" %} {% block content %}
<div class="background_welcome_screen">
  <div>
    <a href="../../">Назад</a>
  </div>
  <div class="login">
    <form class="form-horizontal" action='' method="POST">
      <fieldset>
        <div id="legend">
          <legend class="">Register</legend>
        </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="control-group">

          {{ field.label_tag }}
          <div class="controls">
            {{ field }}
            {{ field.help_text }}
          </div>
        </div>
        {% endfor %}
        <div class="control-group">
          <div class="controls">
            <button class="btn btn-success">Register</button>
          </div>
        </div>
      </fieldset>
    </form>
    <p>{{error}}</p>
  </div>
</div>
{% endblock %}