{% extends "base.html" %} 
{% block content %}
<div class="wrapper">
  <aside class="main_sidebar">
      <h2>Helper</h2>
      <ul>
          <li><i class="fa"></i><a href="/tasks/">Задачи</a></li>
          <li><i class="fa"></i><a>Программы</a></li>
          <li class="active"><i class="fa fa-bell"></i><a href="/team/">Команда</a></li>
      </ul>
  </aside>
</div>
{% block screen %}{% endblock %}
{% endblock %}