{% extends "main_page.html" %} {% block another_scripts%} {% load static %}
<script src="{% static 'scripts/tasks.js' %}"></script> {% endblock %} {% block screen %}
<div style="left: 300px; position: absolute;">
  <div class="row" style="height: 90rem; position: absolute;">
    {% for task in tasks %}
    <div class="card" style="background-color: #808080; width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{task.name}}</h5>
        <p class="card-text">Затраченое время: {{task.time}}</p>
        <p class="card-text">Отведеное время: {{task.timeLimit}}</p>
        <a href="#" class="btn btn-primary">Настроить</a><button onclick="removeTask({{task.id}})" class="btn btn-primary">Удалить</button>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="addtesk">
    <div style="background:rgb(255, 200, 196); top: 90rem; position: absolute;">
      <input type="text" name="nameTask" id="nameTask">
      <button onclick="addTask()">Дбавить задачу</button>
    </div>
  </div>
</div>
{% endblock %}