{% extends "base.html" %} 

{% block content  %}
<div class="container-fluid background_welcome_screen">
    <p>
        <h1>Добро пожаловать</h1>
    </p>
    <p>Авторизуйтесь или зарегистрируйтесь</p>
    <form>
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="Enter login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login in</button>
    </form>
    <a href="/registration/">Чтобы зарегистрироватся нажмите сюда</a>
</div>
{% endblock %}