.background_welcome_screen {
    background-color: bisque;
    width: 100%;
    height: 96.5rem;
}

.login {
    position: absolute;
    width: auto;
    height: auto; 
    left: 40%;
}

.container {
    background-color: #808080;
    width: 20%;
}

.list-group-item {
    background-color: #808080;
}

.main_sidebar {
    min-height:100vh;
    position:fixed;
    top:0;
    left:0;
    width:300px;
    will-change: left, width;
    background: #293749;
}

.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}

.main_sidebar ul li:hover {
    background:#167696;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li:hover i {
    color:#fff;
}
.main_sidebar ul li.active {
    background:#0f4698;
}
.main_sidebar ul li.active i {
    color:#fff;
}

.main_sidebar ul li.active:hover i {
    color:#fff;
}

.main_sidebar h2 {
    color:#fff;
}

.card {
    background-color: #808080;
}